/* CSS Overrides */


/* Iteration 0 - LLM Generated */
.d-none.d-lg-block {
    background-color: #76b900 !important;
}

.d-none.d-lg-block .btn.btn-primary {
    background-color: #76b900 !important;
    border-color: #76b900 !important;
}

.d-none.d-lg-block .btn.btn-primary:hover {
    background-color: #66a300 !important;
    border-color: #66a300 !important;
}

.d-none.d-lg-block .btn.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(118, 185, 0, 0.5) !important;
}

.d-none.d-lg-block .btn.btn-primary:active {
    background-color: #558c00 !important;
    border-color: #558c00 !important;
}

.d-none.d-lg-block .btn.btn-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgba(118, 185, 0, 0.5) !important;
}

.d-none.d-lg-block .btn.btn-primary:disabled {
    background-color: #76b900 !important;
    border-color: #76b900 !important;
    opacity: 0.65 !important;
}

.d-none.d-lg-block .btn.btn-primary.dropdown-toggle {
    background-color: #76b900 !important;
    border-color: #76b900 !important;
}

.d-none.d-lg-block .btn.btn-primary.dropdown-toggle:hover {
    background-color: #66a300 !important;
    border-color: #66a300 !important;
}

.d-none.d-lg-block .btn.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(118, 185, 0, 0.5) !important;
}

.d-none.d-lg-block .btn.btn-primary.dropdown-toggle:active {
    background-color: #558c00 !important;
    border-color: #558c00 !important;
}

.d-none.d-lg-block .btn.btn-primary.dropdown-toggle:active:focus {
    box-shadow: 0 0 0 0.25rem rgba(118, 185, 0, 0.5) !important;
}

.d-none.d-lg-block .btn.btn-primary.dropdown-toggle:disabled {
    background-color: #76b900 !important;
    border-color: #76b900 !important;
    opacity: 0.65 !important;
}

.d-none.d-lg-block .btn.btn-primary.dropdown-toggle::after {
    border-top-color: #fff !important;
}

.d-none.d-lg-block .btn.btn-primary.dropdown-toggle.show::after {
    border-bottom-color: #fff !important;
}
/* Diff-based changes */
[data-section="section-1"] div:nth-of-type(1) {
  color: rgb(26, 26, 26) !important;
}
[data-section="section-2"] div:nth-of-type(1) > nav > a:nth-of-type(1) {
  color: rgb(157, 157, 157) !important;
}
[data-section="section-3"] div:nth-of-type(2) {
  color: rgb(26, 26, 26) !important;
}
[data-section="section-1"] {
  font-family: "NVIDIA Sans", sans-serif !important;
}
[data-section="section-2"] div:nth-of-type(1) > div:nth-of-type(2) > a {
  font-family: "NVIDIA Sans", sans-serif !important;
}
[data-section="section-1"] div:nth-of-type(1) > div:nth-of-type(2) > a {
  margin-bottom: -1px !important;
}
[data-section="section-2"] div:nth-of-type(1) > nav > a:nth-of-type(2) {
  margin-bottom: -1px !important;
}
[data-section="developer-downloads"] div:nth-of-type(1) > div > div > div:nth-of-type(1) > h2 {
  color: rgb(26, 26, 26) !important;
}
/* Diff-based changes */
[data-section="section-1"] div:nth-of-type(1) {
  border-color: rgb(26, 26, 26) !important;
}
[data-section="section-2"] div:nth-of-type(1) > nav > a:nth-of-type(2) {
  color: rgb(157, 157, 157) !important;
}
[data-section="section-3"] div:nth-of-type(2) {
  border-color: rgb(26, 26, 26) !important;
}
[data-section="section-1"] {
  line-height: 16px !important;
}
[data-section="section-2"] div:nth-of-type(1) > div:nth-of-type(2) > a {
  font-size: 16px !important;
}
[data-section="section-1"] div:nth-of-type(1) > div:nth-of-type(2) > a {
  padding-top: 9px !important;
}
[data-section="section-2"] div:nth-of-type(1) > nav > a:nth-of-type(1) {
  margin-bottom: -1px !important;
}
[data-section="developer-downloads"] div:nth-of-type(1) > div > div > div:nth-of-type(1) > h2 {
  border-color: rgb(26, 26, 26) !important;
}
/* Diff-based changes */
[data-section="section-1"] {
  border-color: rgb(26, 26, 26) !important;
}
[data-section="section-2"] div:nth-of-type(1) > nav > a:nth-of-type(6) {
  border-color: rgb(255, 255, 255) !important;
}
[data-section="section-3"] {
  border-color: rgb(0, 0, 0) !important;
}
[data-section="section-1"] div:nth-of-type(1) {
  text-align: left !important;
}
[data-section="section-2"] div:nth-of-type(1) > div:nth-of-type(2) > a {
  line-height: 16px !important;
}
[data-section="section-1"] div:nth-of-type(1) > div:nth-of-type(2) > a {
  padding-bottom: 9px !important;
}
[data-section="section-2"] div:nth-of-type(1) > nav > a:nth-of-type(1) {
  padding-right: 8px !important;
}
[data-section="developer-downloads"] div:nth-of-type(1) > div > div > div:nth-of-type(1) > h2 {
  font-size: 28px !important;
}