/* CSS Overrides */

/* Diff-based changes */
[data-section="section-1"] div:nth-of-type(2) > button:nth-of-type(1) {
  border-color: rgb(255, 255, 255) !important;
}
[data-section="nvidia-technical-blog"] div {
  border-color: rgb(26, 26, 26) !important;
}
[data-section="section-3"] div:nth-of-type(2) {
  background-color: rgb(26, 26, 26) !important;
}
[data-section="section-1"] div:nth-of-type(1) > nav > a:nth-of-type(3) {
  font-weight: 500 !important;
}
[data-section="section-3"] div:nth-of-type(2) > div:nth-of-type(2) {
  line-height: 18.75px !important;
}
[data-section="section-1"] div:nth-of-type(1) > nav > a:nth-of-type(5) {
  padding-top: 8px !important;
}
[data-section="section-3"] div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(2) {
  padding-right: 15px !important;
}
body > div > div {
  background-color: rgb(238, 238, 238) !important;
}