/* CSS Overrides */


/* Iteration 0 - LLM Generated */
```css
header svg {
  color: #000000 !important;
}

main h1 {
  font-size: 3.5em !important;
  font-weight: 600 !important;
  color: #333333 !important;
  margin-bottom: 25px !
/* Diff-based changes */
[data-section="section-1"] div:nth-of-type(2) > button:nth-of-type(2) {
  color: rgb(31, 41, 55) !important;
}
[data-section="about-us"] div {
  color: rgb(45, 55, 72) !important;
}
[data-section="section-1"] div:nth-of-type(1) {
  font-family: Futura, sans-serif !important;
}
[data-section="about-us"] div > div:nth-of-type(1) {
  font-weight: 500 !important;
}
[data-section="section-1"] {
  padding-right: 0px !important;
}
[data-section="about-us"] div > div:nth-of-type(1) > div:nth-of-type(2) {
  padding-left: 0px !important;
}
[data-section="about-us"] div > div:nth-of-type(1) > div:nth-of-type(2) > p {
  color: rgb(255, 255, 255) !important;
}
[data-section="section-1"] div:nth-of-type(2) {
  color: rgb(45, 55, 72) !important;
}
/* Diff-based changes */
[data-section="section-1"] {
  color: rgb(45, 55, 72) !important;
}
[data-section="about-us"] div > div:nth-of-type(1) > div:nth-of-type(2) {
  color: rgb(45, 55, 72) !important;
}
[data-section="section-1"] div:nth-of-type(2) > button:nth-of-type(2) {
  font-weight: 500 !important;
}
[data-section="about-us"] div > div:nth-of-type(1) > div:nth-of-type(2) > p {
  font-family: "DIN Neuzeit Grotesk", sans-serif !important;
}
[data-section="section-1"] div:nth-of-type(2) {
  gap: 20px !important;
}
[data-section="about-us"] div {
  margin-right: 0px !important;
}
[data-section="about-us"] div > div:nth-of-type(1) {
  color: rgb(45, 55, 72) !important;
}
[data-section="about-us"] div > div:nth-of-type(1) {
  background-color: rgb(28, 28, 28) !important;
}

/* Iteration 3 - LLM Generated */
```css
header a svg {
  color: #000 !important;
}

main h1 {
  font-size: 3em !important;
  color: #000 !important;
  font-weight: 700 !important;
}

main p:nth-of-type(1) {
  font-size