body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22.4px;
  letter-spacing: normal;
  color: rgb(29, 29, 29);
  background-color: rgb(255, 255, 255);
}

p {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 20.8px;
  letter-spacing: normal;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
}

h1 {
  font-family: Roboto, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: normal;
  color: rgb(29, 29, 29);
  background-color: rgba(0, 0, 0, 0);
}

h2 {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  letter-spacing: normal;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
}

h3 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  letter-spacing: normal;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

h4 {
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  letter-spacing: normal;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

h5 {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.6px;
  letter-spacing: normal;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

h6 {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 21.6px;
  letter-spacing: normal;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0);
}