/* CSS Overrides */


/* Iteration 0 - LLM Generated */
```css
header > div:first-of-type {
  background-color: #008080 !important;
}

header > div:first-of-type p {
  color: white !important;
}

span.cart-count {
  background-color: red !important;
}

[data-section="most-loved
/* Diff-based changes */
[data-section="section-1"] a {
  border-color: rgba(29, 29, 29, 0.12) !important;
}
[data-section="item-added-to-your-cart"] div:nth-of-type(2) > a {
  color: rgb(29, 29, 29) !important;
}
body > div > div {
  color: rgb(29, 29, 29) !important;
}
[data-section="section-1"] {
  font-family: Roboto, sans-serif !important;
}
[data-section="item-added-to-your-cart"] div:nth-of-type(3) > a {
  font-family: Roboto, sans-serif !important;
}
[data-section="item-added-to-your-cart"] {
  padding-right: 0px !important;
}
[data-section="item-added-to-your-cart"] div:nth-of-type(3) > div:nth-of-type(1) {
  border-radius: 0px !important;
}
[data-section="item-added-to-your-cart"] div:nth-of-type(2) {
  background-color: rgb(178, 255, 255) !important;
}
/* Diff-based changes */
[data-section="section-1"] {
  color: rgb(29, 29, 29) !important;
}
[data-section="item-added-to-your-cart"] div:nth-of-type(2) > a {
  border-color: rgba(29, 29, 29, 0.12) !important;
}
body > div > div {
  border-color: rgba(29, 29, 29, 0.12) !important;
}
[data-section="section-1"] a {
  font-family: Roboto, sans-serif !important;
}
[data-section="item-added-to-your-cart"] div:nth-of-type(3) > a {
  font-size: 14px !important;
}
[data-section="item-added-to-your-cart"] {
  padding-left: 0px !important;
}
[data-section="item-added-to-your-cart"] div:nth-of-type(3) > div:nth-of-type(2) > div {
  border-radius: 0px !important;
}
[data-section="item-added-to-your-cart"] div:nth-of-type(2) {
  border-color: rgba(29, 29, 29, 0.12) !important;
}

/* Iteration 3 - LLM Generated */
body > div:nth-of-type(1) {
    background-color: #ffffff !important;
}

header {
    background-color: #ffffff !important;
}

[data-section="section-3"] h2 {
    font-size: 40px !important;
    font-weight: 700 !important;