/* CSS Overrides */


/* Iteration 0 - LLM Generated */
```css
[data-section="header"] {
  background-color: #1a1a1a !important;
}

[data-section="hero"] {
  background-color: #1a1a1a !important;
}

[data-section="new-flavor-everyday"] .nav-container {
  background-color:
/* Diff-based changes */
[data-section="section-1"] a {
  color: rgb(255, 107, 53) !important;
}
[data-section="section-2"] div {
  color: rgb(45, 55, 72) !important;
}
[data-section="section-3"] {
  color: rgb(45, 55, 72) !important;
}
[data-section="section-1"] a > img {
  font-family: Futura, sans-serif !important;
}
[data-section="section-3"] div > div > span:nth-of-type(14) {
  font-family: Futura, sans-serif !important;
}
[data-section="section-1"] {
  padding-right: 0px !important;
}
[data-section="section-3"] div {
  padding-top: 16px !important;
}
[data-section="new-flavor-everyday"] div:nth-of-type(1) > div > span {
  border-radius: 0px !important;
}